@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Giga:wght@100..900&display=swap');


.first-lighn{
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: -30px;
    display: flex;
    justify-content: space-around;
    h1{
        font-size: 100px;
    }
    h4{
        margin-top: 60px;
        font-size: 14px;
        margin-right: 9rem;
    }
}

.desc{
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 100px;
    h2{
        margin-bottom: -30px;
    }
    h1{
        margin-left: 10rem;
    }
    /* position: center; */
}