@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Giga:wght@100..900&family=Lilita+One&display=swap');

.full-stack {
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-left: 20rem;
  margin-top: 7rem;
  margin-bottom: 20rem;
  }




  /* pushy limits */